<div class="footer-container container-fluid">
  <div class="row">
    <div class="footer-section col-md-3">
      <div class="section-header">
        <strong> Information</strong>
      </div>
      <ul style="list-style: none; padding:0px; margin:0;">
        <li><i class="fa fa-facebook-square" aria-hidden="true"></i> Our facebook page</li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i> Our Instagram</li>
        <li><i class="fa fa-users" aria-hidden="true"></i> About us</li>
        <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Review us </li>
      </ul>
    </div>
    <div class="footer-section col-md-3">
      <div class="section-header">
        <strong> Information</strong>
      </div>
      <ul style="list-style: none; padding:0px; margin: 0">
        <li><i class="fa fa-sun-o" aria-hidden="true"></i> Weather</li>
        <li><i class="fa fa-money" aria-hidden="true"></i> Finance </li>
        <li><i class="fa fa-book" aria-hidden="true"></i> About us</li>
        <li><i class="fa fa-address-card" aria-hidden="true"></i> Expert Contact </li>
      </ul>

    </div>
    <div class="footer-section col-md-1">

    </div>
    <div class="footer-section last-section-header col-md-5">
      <div class="section-header">
        <p><strong> Phone: </strong> 0403 302 023</p>
        <p><strong> Email: </strong> theinnovatorteam@gmail.com</p>
      </div>
      <ul style="list-style: none; padding:0px; margin: 0">
        <li><strong>Address</strong></li>
        <li>47 Rainforest Walk</li>
        <li>Wellington Road</li>
        <li>Melbourne 38000 </li>
        <li>Victoria, Australia</li>
      </ul>
    </div>
  </div>
</div>
